body {
  margin: 0;
}

:root {
  --headerHight: 80px;
}

html.dark {
  --headerColor: #1B1B1F;
  --sideColor: #161618;
  --contentBGColor: #F6F6F6
}

html.light {
  --headerColor: #FFFFFF;
  --sideColor: #F6F6F7;
  --contentBGColor: #F6F6F6
}