/* @import 'src/index.css'; */

.header {
  display: flex;
  align-items: center;
  position: sticky;
  width: calc(100vw - 200px);
  height: var(--headerHight);
  float: right;
  background-color: var(--headerColor);
}

.mainContent {
  position: absolute;
  top: var(--headerHight);
  left: 200px;
  min-width: calc(100vw - 240px);
  min-height: calc(100vh - 120px);
  margin: 12px;
  border-radius: 8px;
  background-color: var(--contentBGColor);
  padding: 8px;
}

.side {
  display: flex;
  height: 100vh
}

.side .sideContent {
  flex: 0 0 200px;
  background-color: var(--sideColor);
}

.menu {}

.menu a {
  display: block;
  height: 40px;
  text-align: left;
  padding: 8px 8px 8px 16px;
  box-sizing: border-box;
  line-height: 26px;
  text-decoration: none;
  color: var(--menuTextColor)
}

.menu .active {
  background-color: var(--menuBgColor);
  border-radius: 0 8px 8px 0;
}