/* @import 'src/index.css'; */

.header {
  display: flex;
  align-items: center;
  position: sticky;
  width: calc(100vw - 200px);
  height: var(--headerHight);
  float: right;
  background-color: var(--headerColor);
}

.mainContent {
  position: absolute;
  top: var(--headerHight);
  left: 200px;
  min-width: -webkit-fill-available;
  min-height: -webkit-fill-available;
  margin: 12px;
  border-radius: 8px;
  background-color: var(--contentBGColor);
  padding: 8px;
}

.side {
  display: flex;
  height: 100vh
}

.side .sideContent {
  flex: 0 0 200px;
  background-color: var(--sideColor);
}

.menu {
  height: 50px;
  text-align: center;
  line-height: 50px;
}